{%  load static %}

<link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom fonts for this template -->
<link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
<link href="{% static 'vendor/simple-line-icons/css/simple-line-icons.css' %}" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <Style>

        body{
            background-size: cover;
            background: url('{% static "website/after_registering.jpg" %}');
            background-repeat: no-repeat;
            background-size:cover;
        }

    </Style>
</head>
<body>
Stock market index page

<div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
    <h3 class="mb-5">Thank you for registering!</h3>
</div>>
</body>

</html>