<!DOCTYPE html>
<html lang="en">

{%  load static %}

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Home</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/simple-line-icons/css/simple-line-icons.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/landing-page.min.css' %}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-light bg-light static-top">
    <div class="container">
        <a class="navbar-brand" href="/">ATH</a>
          <form class="form-inline">
            <div class="form-control mr-sm-2">{{ user }}   </div>
            <a class="btn btn-primary my-2 my-sm-0" >Your Account</a>
              <a class="btn btn-primary my-2 my-sm-0" href="../add_funds" >Add Funds</a>
              <a class="btn btn-danger my-2 my-sm-0" href="../registration/logout" >Log Out</a>
          </form>
    </div>
  </nav>

  <!-- Masthead -->
  <header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5">Welcome back,
              {{user}}
          </h1>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <h3 class="mb-5">Check out the new stocks!</h3>
        </div>
      </div>
    </div>
  </header>

  <!-- Icons Grid -->
  <section class="features-icons bg-light text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg" onclick="window.location='/check';">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-screen-desktop m-auto text-primary"></i>
            </div>
            <h3>Check your stocks</h3>
            <p class="lead mb-0">Click here to check your owned stocks!</p>
          </div>
        </div>
        <div class="col-lg" onclick="window.location='/buy';">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-layers m-auto text-primary"></i>
            </div>
            <h3>Buy new stocks</h3>
            <p class="lead mb-0">Click here to buy new stocks!</p>
          </div>
        </div>
          <div class="col-lg" onclick="window.location='/reserve';">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-layers m-auto text-primary"></i>
            </div>
            <h3>Reserve a stock</h3>
            <p class="lead mb-0">Click here to reserve a stock!</p>
          </div>
        </div>
      </div>
    </div>
  </section>

</body>

</html>
