<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <Style>

        body{
            background-size: cover;
            height: 1024px;
            background-size:cover;
        }

    </Style>
</head>
<body>
Stock market index page
{% for person in allPersons %}
<tr>
<td>{{ person.name}}</td>
<td> {{ person.owned_stocks.values }}</td>
</tr>
{% endfor %}
<br>
<br>
{% for stock in allStocks %}
<td>{{ stock.name}}</td>


{% endfor %}
<br>
<br>
{% for order in allOrders %}

<td> {{ order.person }}</td> <td> id {{ order.person.id }}</td>
    <td>{{  order.stock}}</td>
    <td> {{ order.quantity }}</td>
    <br>


{% endfor %}
<br>


</body>
</html>
