{%  load static %}


<link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom fonts for this template -->
<link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
<link href="{% static 'vendor/simple-line-icons/css/simple-line-icons.css' %}" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
<link href="{% static 'css/landing-page.min.css' %}" rel="stylesheet">


<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
      <a class="navbar-brand" href="/">ATH</a>
      <a class="btn btn-primary" href="">Sign In</a>
    </div>
  </nav>

  <header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5">Account Login</h1>
        </div>
        <div class="col-sm-2 col-sm-2 col-sm-4 mx-auto">
          <form method="post">
              {% csrf_token %}
                <div class="input-group">
                    <input class="form-control form-control-lg" id="id_username" maxlength="30" name="username" placeholder="Enter your username..." type="text" />
                </div>
                <p> </p>
                <div class="input-group">
                    <input class="form-control form-control-lg" id="id_password" maxlength="30" name="password" placeholder="Enter your password..." type="password" />
                </div>
                <p> </p>
                 <div class="btn">
                    <button type="submit" class="btn btn-primary btn-lg" >Log In</button>
                 </div>

          </form>
        </div>
      </div>
    </div>
  </header>

