{%  load static %}

<link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom fonts for this template -->
<link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
<link href="{% static 'vendor/simple-line-icons/css/simple-line-icons.css' %}" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
<link href="{% static 'css/landing-page.min.css' %}" rel="stylesheet">

<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
      <a class="navbar-brand" href="/">ATH</a>
      <a class="btn btn-primary" href="">Sign In</a>
    </div>
  </nav>

  <header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5">Account Creation</h1>
        </div>
        <div class="col-12 col-md-9 mb-2 mx-auto">
          <form method="post">
              {% csrf_token %}
                 <div class="form-group row">
                    <label for="id_email" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                      <input type="email" class="form-control" id="id_email"  name="email"  placeholder="Email">
                    </div>
                     {{ form.errors.email }}
                  </div>
                  <div class="form-group row">
                    <label for="id_username" class="col-sm-2 col-form-label">Username</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="id_username" name="username" placeholder="Username">
                    </div>
                      {{ form.errors.username }}
                  </div>
                  <div class="form-group row">
                    <label for="1" class="col-sm-2 col-form-label">Password</label>
                    <div class="col-sm-10">
                      <input type="password" class="form-control" id="id_password1" name="password1" placeholder="Password">
                    </div>
                      {{ form.errors.password1 }}
                  </div>
                <div class="form-group row">
                    <label for="id_password2" class="col-sm-2 col-form-label">Confirmation</label>
                    <div class="col-sm-10">
                      <input type="password" class="form-control" id="id_password2" name="password2" placeholder="Confirm your password">
                    </div>
                     {{ form.errors.password2 }}
                  </div>

                <div class="form-group row">
                    <label for="id_name" class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="id_name" name="name" placeholder="Your name">
                    </div>
                    {{ person_form.errors.name }}
                  </div>
                <button class="btn btn-primary" type="submit">Create your account</button>
          </form>
        </div>
      </div>
    </div>
  </header>
