{% load django_tables2 %}
{% load static %}


<link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom fonts for this template -->
<link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
<link href="{% static 'vendor/simple-line-icons/css/simple-line-icons.css' %}" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
<link href="{% static 'css/landing-page.min.css' %}" rel="stylesheet">



<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

  <nav class="navbar navbar-light bg-light static-top">
    <div class="container">
       <a class="navbar-brand" href="/">ATH</a>
          <form class="form-inline">
            <div class="form-control mr-sm-2">{{ user }}   </div>
            <a class="btn btn-primary my-2 my-sm-0" >Your Account</a>
              <a class="btn btn-danger my-2 my-sm-0" href="../registration/logout" >Log Out</a>
          </form>
    </div>
  </nav>

  <br>
  <br>

  <div class="col-xl-9 mx-auto">
        <h2>Your order history</h2>
        {% render_table table %}
  </div>

<br>
<br>
   <br>


  <div class="col-xl-9 mx-auto">
    <h2>Your total stocks owned</h2>
    {% render_table table2 %}
  </div>

   <div class="col-xl-9 mx-auto">
    <h2>Total value of your stocks:     {{ totalCost.suma }}</h2>
       <h2> best stock to invest in is {{ bestStock.name }}</h2>
   </div>
<br>

</body>
</html>
