
<!DOCTYPE html>
{% load static %}

<html>

<link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom fonts for this template -->
<link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
<link href="{% static 'vendor/simple-line-icons/css/simple-line-icons.css' %}" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
<link href="{% static 'css/landing-page.min.css' %}" rel="stylesheet">



<head>
    <title>
        Buy Stock
    </title>

</head>

<body>

<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
        <a class="navbar-brand" href="/">ATH

        </a>
          <form class="form-inline">
            <div class="form-control mr-sm-2">{{ user }}   </div>
            <a class="btn btn-primary my-2 my-sm-0" >Your Account</a>
              <a class="btn btn-danger my-2 my-sm-0" href="../registration/logout" >Log Out</a>
          </form>
    </div>
  </nav>


    <div class="col-sm">
        <h2>Select stock to buy</h2>
        <form action="{% url 'buy' %}" method="post">
        {% csrf_token %}
                <div class="form-group"
                    onclick="showCheckboxes()">
                    <select class="form-control">
                        <option>Select options</option>
                        {% for stock in stocks %}
                        <label>
                            <input type="checkbox" name="stock" value="{{stock.name}}"/>{{ stock.name }}
                        </label>
                        {% endfor %}
                    </select>
                    <div class="form-group"></div>
                </div>
            Quantity:
        <input type="text" name="quantity">
        <br>
        <button type="Submit">Buy </button>
        </form>
    </div>


    <script>
        var show = true;

        function showCheckboxes() {
            var checkboxes =
                document.getElementById("checkBoxes");

            if (show) {
                checkboxes.style.display = "block";
                show = false;
            } else {
                checkboxes.style.display = "none";
                show = true;
            }
        }
    </script>
</body>

</html>
